.button
{
    background-color: #b8a61b;
    border: 100px;
    width: 15%;
    height: 45px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 17px;
}


div
{
    margin: 100px;
    padding: 100px;
}
.flex-container
{
    display: flex;
    background-color: rgb(65, 134, 83);
    border-radius: 10px;
}

nav a{
    /* background-color: antiquewhite; */
    width: 100px;
    color: #021406;
    height: 20px;
    margin: 10px;
    padding: 10px;
    text-decoration:none ;
}

nav a:hover
{
    background-color: rgb(74, 160, 107);
    border-radius: 10px;
}
